
/* Media Queries */
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {

img.search-res {
	width: 80px;
	height: 70px;
}
 .menu-bar button {
 	background: #d5d5d5;
 	
 }
 

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

img.search-res {
	width: 120px;
	height: 108px;
}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

img.search-res {
	width: 160px;
	height: 140px;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;
	}
} 